[submodule "Common"]
    path = Common
    url = https://github.com/Visse/common.git
    shallow = true
[submodule "Pisces"]
    path = Pisces
    url = https://github.com/Visse/pisces.git
    shallow = true
[submodule "compiler_warnings"]
    path = compiler_warnings
    url = https://github.com/Visse/compiler_warnings.git
    shallow = true
[submodule "dependencies"]
    path = dependencies
    url = https://github.com/Visse/zodiac-dependencies.git
    shallow = true